
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    background: #264653;
    text-align: center;
}

button{
    background-color: #2a9d8f;
    color: black;
    text-transform: uppercase;
    border: none;
    padding: 20px 20px;
    cursor: pointer;
}

button:hover{
    background-color: #156158;
    color: #fff;
}

pre{
    color: #2a9d8f;
}

h1{
    color: #e9c46a;
    font-size: 52px;
    margin: 15px;
}

h2{
    color: #e76f51;
    font-size: 32px;
    margin-top: 10px;
}

h3, h4, h5{
    color: #f4a261;
    font-size: 22px;
    margin-top: 20px;
}

h6{
    font-size: 24px;
    color: #bb2626;
}

strong{
    color: #b48714;
}

mark{
    color: rgb(187, 38, 38);
}

a{
    color: #e75151;
    text-decoration: none;
}

div{
    width: 900px;
    border: 1px solid #b48714;
    margin-left: auto;
    margin-right: auto;
}
    
table{
    position: relative;
    width: 100%;
    width: 30vw;
    margin: 15px;
    margin-left: auto;
    margin-right: auto;

}

th{
    background-color: #f4a261;
    border-bottom: 3px solid #b48714;
    border-left: 1px solid #b48714;
}

table, tr, td{
    border: 1px solid #b48714;
    border-collapse: collapse;
    color: black;
}

td:nth-child(even){background-color: #3f616e;}

ol{
    list-style-position: inside;
    list-style-type: upper-alpha;
}

ul{
    list-style-position: inside;
    list-style-type: square;
}

iframe{
    max-width: 100%;
    max-width: 100%;
    width: 30vw;
    height: 30vh;
}